$orange         : #BD3613;
$red			: #8B0000;
$blue			: #1A4C80;
$titanWhite		: #E0E6FF;
$stormGray		: #777B88;
$fuschia		: #330033;
$deep-blue		: #85bdde;
$sky-blue		: #c4e6ff;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;

////////
$headingFont: 'Bree Serif';
$subHeadingFont:'Rancho';
$textFont: 'Open Sans';
$smallTextFont: 'Gudea';

$defaultLineHeight: 32px;
$defaultFontWeight: 300;
$menuFonts: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$charcoal    : #555555;
$ease: all 0.5s;

$smoothGrey: rgb(68, 68, 68);
$lightGrey: rgb(83, 83, 91);