@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";
@import "foundation/settings";
@import "foundation";

#rowLink {
	font-size: 15px;
	color: #0000FF;
}

#smal {
	color: #8B0000;
}

a {
	text-decoration: none;
}

.errandsDiv {
	border: solid red;
	border-radius: 20px;
	margin-top: 20%;
}

.bidDiv {
	border: solid red;
	border-radius: 20px;
	margin-top: 20%;
}

#deadline {
	font-size: 15px;
}