@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";
@import "foundation/settings";
@import "foundation";

#rowLink {
	font-size: 15px;
}

a {
	text-decoration: none;
}

.errandsDiv {
	border: solid red;
	border-radius: 20px;
	margin-top: 20%;
}

.bidDiv {
	border: solid red;
	border-radius: 20px;
	margin-top: 20%;
}

#deadline {
	font-size: 15px;
}

#ANGTFT {
	width: 200px;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#search {
	//background-color: #8B0000;
}