@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";
@import "foundation/settings";
@import "foundation";

#rowLink {
	font-size: 15px;
}

a {
	text-decoration: none;
}

.errandsDiv {
	// border: solid red;
	// border-radius: 20px;
	margin-top: 4%;
}

.bidDiv {
	// border: solid #8B0000;
	// border-radius: 10px;
	margin-bottom: 5%;
}

#deadline {
	font-size: 15px;
}

#ANGTFT {
 	width: 220px;
	height: 100px;
}

#smal {
	color: #8B0000;
}

// #description {
// 	width: 300px;
// }

#search {
	//background-color: #8B0000;
}