<body> 

	<div class="row" ng-controller='addErrandController'>		    
		<h1 class="text-center"> Add Errand </h1>
		<hr>
	</div>

	<form method="POST" data-abide>
		<div class ="row">
			<div class="large-12 large-centered columns">
				<label style="color: #8B0000"> Name <small> Required</small>
				<input name = "Name" placeholder= "Mow My Lawn" type="text" required/>
			</div>
		</div>
		
		<div class ="row">
			<div class="large-12 large-centered columns">
		 		<label style="color: #8B0000">Description<small> Required</small>
	  			<input name ="Description" type="text" placeholder="20 acre lawn that requires proper mowing. I will provide the appropriate equiptment" required/>
	  		</div>
		</div>

<!-- 		<div class ="row">
			<div class="large-12 large-centered columns">
		 		<label style="color: #8B0000">Deadline<small> Required</small>
		 		<datepicker>
		 			<input name="Deadline" type="text" required/>
		 		</datepicker>
	  		</div>
		</div> -->

		<div class ="row">
			<div class="large-12 large-centered columns">
				{{date}}
		 		<label style="color: #8B0000">Deadline<small> Required</small>
		 		<datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="date" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
	  		</div>
		</div>

		<div class="row">
			<div class="large-12 large-centered text-center columns">
				<input class="button alert tiny round" type="submit" name="submit" value="Submit">
			</div>
		</div>
		</form>

</body>
</html>


	 	  	
	    






