<div class="row" ng-controller='errandDetailController'>
  	<div class="small-8 columns text-center small-centered">
  		<h1> {{errand.name}} </h1>
  		<hr>
  	</div>

  	<div class="small-8 columns errandsDiv small-centered">
  		<h6>{{errand.createdName}}</h6>
  		<p>{{errand.description}}</p>
  		<h2 id="deadline"> Deadline: {{errand.deadline | date:"MM/dd/yyyy 'at' h:mma"}} </h2>
	</div>

	<div class="small-8 columns bidDiv small-centered">
		<!-- {{dateToEpoch(errand.deadline)}}<br/>
		<timer end-time="dateToEpoch(errand.deadline)">
            {{days}}:{{hours}}:{{minutes}}:{{seconds}}
        </timer> -->
        <p>Best Bid: {{bestBid.bidAmount| currency}}</td></p>
        
        <p>Best Bidder: <a href="#/profile/{{bestBid.bidderID}}">{{bestBid.bidderName}}</a></td></p>
        <form method="POST" data-abide>
			<div class ="row">
				<div class="large-12 large-centered columns">
					<label style="color: #8B0000"> Bid Amount <small> Required</small>
					<input name = "Bid" placeholder= "5.39" type="text" required/>
				</div>
				<div class="large-12 large-centered text-center columns">
					<input class="button tiny" type="submit" name="submit" value="Submit" ng-show = "{{userLoggedIn}}">
				</div>
			</div>
		</form>
	</div>

</div>
