<div class="row" ng-controller='errandsController'>		
	<div class="small-8 columns small-centered">
      <h1 class="text-center"> Errands </h1>
    	<hr>
  </div>
</div>

<div class = "row">
  <div class="columns small-8 small-centered">
      <label id="smal">Search: 
      <input id ="search" type="text" placeholder="Location, name, description...." ng-model="inputValue"/>
    </div>
</div>

<div ng-show="{{showAddButton}}" class="row">
    <div class="small-8 columns small-centered" align="center">
      <a  class="button tiny" href="#/addErrand">Add Errand</a>
    </div>
</div>

<div class="row">
  <div class="small-8 columns small-centered" align="center">
    <button id="leftButton" class="button tiny" ng-click="prevPage()">Previous</button>
    <button id="rightButton" class="button tiny" ng-click="nextPage()">Next</button>
      <table>
        <thead>
          <tr>
             <th class="text-center"><a id = "rowLink" href="" ng-click="predicate = 'createdName'; reverse=!reverse">Posted By</a></th>
             <th class="text-center"><a id = "rowLink" href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>

             <th class="text-center hide-for-small-down" ><a id = "rowLink" href="" ng-click="predicate = 'errandLocation'; reverse=!reverse">Location</a></th>

             <th class="text-center hide-for-small-down"><a  id = "rowLink" href="" ng-click="predicate = 'description'; reverse=!reverse">Errand Description</a></th>
             <th class="text-center"><a id = "rowLink" href="" ng-click="predicate = 'deadline'; reverse=!reverse">Expiration</a></th>
             <th class="text-center"><a id = "rowLink" href="" ng-click="predicate = 'bestBid.bidAmount'; reverse=!reverse">Current Bid</a></th>
             <th class="text-center"><a id = "rowLink" href="" ng-click="predicate = 'bestBid.bidderName'; reverse=!reverse">Current Bidder</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="errand in errands | filter: inputValue | orderBy:predicate:reverse | limitTo:limit" ng-show="$index >= skip">
            <td><a href="#/profile/{{errand.createdID}}">{{errand.createdName}}</a></td>
            <td><a href="#/errands/{{errand._id}}">{{errand.name}}</a></td>

            <td class="hide-for-small-down">{{errand.errandLocation}}</td>

            <td class="hide-for-small-down">{{errand.description}}</td>

            <td>
              <timer end-time="dateToEpoch(errand.deadline)">
                {{days}} Days, {{hours}} Hours, {{minutes}} Minutes, {{seconds}} Seconds
              </timer>
            </td>
            <td>{{errand.bestBid.bidAmount | currency}}</td>
            <td><a href="#/profile/{{errand.bestBid.bidderID}}">{{errand.bestBid.bidderName}}</td>
          </tr>  
        </tbody>
      </table>

    </div>
  </div>

</div>
</div>
