<div class="row" ng-controller='loginController'>		    
	<h1 class="text-center"> Login </h1>
	<hr>
</div>

<table>
  <tbody>
  	<tr>
  		<form method="POST" data-abide>

    		<div class ="row login-div">
				<div class="small-8 small-centered columns">
      				<label> Email <small id="smal"> Required</small>
        			<input name = "Email" ng-model="email" placeholder= "ranjitahkumar@gmail.com" type="text" required/>
      			</div>
				<div class="small-8 small-centered columns">
  			 		<label>Password<small id="smal"> Required</small>
    		  		<input name ="Password" ng-model="password" type="text" placeholder="llamas" required/>
  		  		</div>
					<div class="small-8 small-centered text-center columns">
						<input class=" submission button expand radius" type="submit" name="submit" value="Submit" ng-click="loginUser()">
					</div>
				</div>  	  		
	  		</form>
    <tr>	    
   </tbody>
</table>