<div class="row text-center" ng-controller='profileController'>
  <div class="small-8 columns small-centered">
	<h1>{{user.name}}</h1>
	<h3>{{user.email}}</h3>
  <hr>
	<div class="small-6 left columns text-center">
		<table width="100%">
    	<thead>
    		<h3 class="subheader">Pending</h3>
  		</thead>
  		</tbody>
        <tr ng-repeat="items in thePendingUsersErrands">
        
        <td>
        <h4 class="subheader">{{items.name}}</h4>
        <h5>Errand Location: {{items.errandLocation}}</h5>
        <h6> Deadline: {{items.deadline | date:"MM/dd/yyyy 'at' h:mma"}} </h6>

        <p>{{items.description}}</p>
        
        <div class="row">
          <div class="small-6 columns small-left medium-centered buttonD">
            <input class="submission button tiny" type="submit" name="delete" ng-click="deleteErrand(items)" value="Delete Errand" ng-if = "user.email == email">

            <a class="submission button tiny" ng-if = "user.email == email" href="#/updateErrand/{{items._id}}">Update Errand</a> 
          </div>    
        </div>
        </td>
        
        </tr>
		</tbody>
	</table>

  
	</div>


  <div class="small-6 right columns text-center">
  		<table width="100%">
          	<thead>
               <h3 class="subheader">Completed</h3>
        		</thead>
        		</tbody>
              <tr ng-repeat="items in theCompletedUsersErrands">
            		<td>
            	   <h4 class="subheader">{{items.name}}</h4>
                <h6> Deadline: {{items.deadline | date:"MM/dd/yyyy 'at' h:mma"}} </h6>
    					   <p>{{items.description}}</p>

                 
                 <div class="small-6 columns text-center buttonD">
                   <input class="submission button tiny" type="submit" name="delete" ng-click="deleteErrand(items)" value="Delete" ng-if = "user.email == email">
                 </div>

    				  </td>
          </tr>
    			</tbody>
    		</table>   
  </div>
</div>