<div class="row text-center" ng-controller='profileController'>
  <div class="small-8 columns small-centered">
	<h1>{{user.name}}</h1>
	<h3>{{user.email}}</h3>
  <a class="submission button tiny" href="#/profile/{{user._id}}"> View your Posted Errands </a>
  <hr>
	<div class="small-6 left columns text-center">
		<table width="100%">
    	<thead>
    		<h3 class="subheader">Bids Pending</h3>
  		</thead>
  		</tbody>
        <tr ng-repeat="items in allPendingBids">
        
        <td>
        <h4 class="subheader"><a href="#/errands/{{items._id}}">{{items.name}}</a></h4>
        <h5>Errand Location: {{items.errandLocation}}</h5>
        <h6> Deadline: {{items.deadline | date:"MM/dd/yyyy 'at' h:mma"}} </h6>

        <p>Description: {{items.description}}</p>
        <h5 class="subheader"> Current Best Bidder: <a href="#/profile/{{items.bestBid.bidderID}}">{{items.bestBid.bidderName}}</a> </h5>
        <h5 class="subheader"> Current Lowest Bid Amount: {{items.bestBid.bidAmount | currency}}</h5>
        </td>
        
        </tr>
		</tbody>
	</table>

  
	</div>


  <div class="small-6 right columns text-center">
  		<table width="100%">
          	<thead>
               <h3 class="subheader">Completed</h3>
        		</thead>
        		</tbody>
              <tr ng-repeat="items in allCompletedBids">
            		<td>
                <h4 class="subheader"><a href="#/errands/{{items._id}}">{{items.name}}</a></h4>
                <h6> Deadline: {{items.deadline | date:"MM/dd/yyyy 'at' h:mma"}} </h6>
    					  <p>Desctiption: {{items.description}}</p>
                <h5 class="subheader"> Winner: <a href="#/profile/{items.{bestBid.bidderID}}">{{items.bestBid.bidderName}}</a> </h5>
             
    				  </td>
          </tr>
    			</tbody>

    		</table>   
  </div>


</div>