<div ng-controller='settingsController'>		
  <div class="row">
    <div id="picture" class= "small-12 large-12 large-centered columns">
        <!-- <a href="#missionSection" id="arrows" class= "button large alert"> Learn More</a> -->
        <img id ="mainPicture" src="../pictures/Collage.jpg"/>
  
     <div id="dynamicTextBox" class=" small-12 small-centered columns text-center ">
         <!--  <h2 id="dynamicText" class="text-center"></h2> -->

          <ul id="buttonBox" class="button-group">
                <li><a href="#" data-reveal-id="AboutUsInfo" class="button success" >About</a></li>
                <li><a href="#Research" class="button success">Learn More</a></li>
          </ul>
    <div>

     
    </div>
  </div>
  
  <div class = "row stripe_sky padding">
    <a name = "missionSection"></a>
    <div class="large-7 large-centered column ">
      <h3 class="subheader text-center">History</h3>
      <p class="subTitle"> 
        ANGTFT was built by four Computer Science students at the University of
        Illinois at Urbana Champaign as part of their CS498: The Art and Science of Web Development.
        All four students realized that remedial tasks were not worth the time and effort. Inspired by
        websites such as Ebay and Craigslist, the four students decided to make a website that would 
        allow users to post and bid on errands.
      </p>
    </div>
  </div>
  <div class = "row stripe_deep padding">
    <div class="large-7 large-centered column">  
        <h3 class="subheader text-center" id="restrauntTitle">How to Use</h3>
        <p class="subTitle"> ANGTFT is extremely user friendly. Simply sign up and will be allowed to post errands and bid on the errands posted by other users. You may also view your errand history through your profile page. Transactions must be done in person and ANGTFT is not responsible for providing or facilitating payment. </p>  
    </div>
  </div>
  <footer class="footer bigtext" id="contactSection">
    <div class = "row">
    <div class="small-12 medium-12 large-3 columns">
     <i class="fa fa-suitcase"></i>
      <p>
        If you are busy and want others to do your remedial tasks, post them on here. You'll be
        amazed by the number of people in your area willing to perform your tasks for you!
      </p>
    </div>
    <div class="small-12 medium-12 large-3 columns">
     <i class="fa fa-money"></i>
      <p>Looking to make a few easy bucks. Bid on tasks and complete them to be rewarded.</p>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <h4>Work With Us</h4>
      <ul class="footer-links">
        <li><a href="#">Potential Employee</a></li>
        <li><a href="#">Investors</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ's</a></li>
      <ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <h4>Follow Us</h4>
      <ul class="footer-links">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
    </div>
    </div>
  </footer>
  </div>
</div>