<div class="row" ng-controller='signupController'>	
<div class="small-6 small-centered columns">
	<h1 class="text-center"> Sign Up </h1>
	<hr>
</div>
</div>

<table>
  <tbody>
  	<tr>
  		<form method="POST" data-abide>
  			<div class ="row">
				<div class="small-6 small-centered columns">
      				<label> Name <small id="smal"> Required</small>
        			<input name = "Username" ng-model="name" placeholder= "Ranjitah Kumar" type="text" required/>
      			</div>
				<div class="small-6 small-centered columns">
      				<label> Email <small id="smal"> Required</small>
        			<input name = "Email" ng-model="email" placeholder= "uiucwp@gmail.com" type="text" required/>
      			</div>
				<div class="small-6 small-centered columns">
  			 		<label>Password<small id="smal"> Required</small>
    		  		<input name ="Password" ng-model="password" type="text" placeholder="llamas" required/>
  		  		</div>
					<div class="small-6 small-centered text-center columns">
						<input class="submission button expand radius" type="submit" name="submit" ng-click="addUsers()" value="Sign Up">
					</div>
				</div>
	  		</form>
    <tr>	    
   </tbody>
</table>